body{
	background-color: #777777;
	text-align: center;
	margin: auto;
}

.navbar {
	height: 50px;
}

#photo-container {
	display: flex;
  align-items: center;
	float: right;
}

#name {
	float: right;
	padding-left: 10px;
}

#sketch-holder{
	margin: auto;
	text-align: center;
	padding-top:50px;
	padding-bottom: 35px;
}
