body{
	background-color: #777777;
	text-align: center;
	margin: auto;
}

/*.navbar {
	height: 50px;
}*/

.container {
	background-color: #ddd;
	margin-top: 70px;
	margin-bottom: 20px;
}

#sign-out {
	margin-right: 16px;
}

#photo-container {
	display: inline-flex;
  align-items: center;
	float: right;
}

#firebaseui-spa {
	position: absolute;
	right: 0px;
	display: inline-flex;
}

#name {
	float: right;
	padding-left: 10px;
}

#sketch-holder{
	margin: auto;
	text-align: center;
	padding-top:65px;
	padding-bottom: 35px;
}
#aboutHead{
	margin: auto;
	text-align: center;
}
.dark{
	background-color: #222222;
}
#aboutContent{
	text-align: justify;
}
.pic-container{
	text-align: center;
	margin: auto;
}
#footer{
	text-align: center;
	margin: auto;
}